body {
  background-color: powderblue
}
 hr{
   border-style: none;
   border-top-style:dotted;
   border-color: grey;
   border-width: 5px;
   width: 7%;
   height: 10px
 }
 h1{
   color: purple;
 }
 h3{
   color: #66BFBF;
 }
 img{
   height: 250px;
 }
